.filmes-title {
    margin-top: 4rem;
    margin-left: 3rem;
  }
  
  h2.title-cartaz {
    color: #ffffff;
    border-bottom: #39a2db solid 3px;
    display: inline-block;
  }

  .carrossel-filme {
    position: relative;
    padding: 2px;
    box-sizing: border-box;
    margin: 0 25px;
  }
  .filme-numero {
    position: absolute;
    top: 8rem; /* Ajuste conforme necessário */
    left: -45px; /* Ajuste conforme necessário */
    font-size: 6rem; /* Tamanho do número */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.17); /* Cor branca transparente */
    z-index: -1;
    transition: color 0.3s;
    letter-spacing: -1.1rem;
  }
  .carrossel-filme:hover .filme-numero {
    color: rgba(255, 255, 255, 0.731);
  }
  
  .slick-slider {
    width: 1320px;
    max-width: 1600px;
    margin: 20px auto;
  }
  
  .carrossel-filme img {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    z-index: 999;
  }
  
  button.slick-prev,
  button.slick-next {
    width: 40px;
    height: 40px;
    z-index: 10;
  }
  
  button.slick-prev:hover,
  button.slick-next:hover {
    background-color: #39a2db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 11;
  }
  
  .slick-dots li button:before {
    color: #ffffff;
  }
  

  .carrossel-filme a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    font-size: 1.3rem;
    border: none;
    text-decoration: none;
    background-color: #fcd200;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.4s;
}
  
  .carrossel-filme a {
    text-decoration: none;
    color: #101010;
  }
  
  .carrossel-filme a:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db,
      0 16px 10px -3px #39a2db;
  }
  
  .carrossel-filme a:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db,
      0 12px 10px -3px #39a2db;
  }

  @media (max-width: 768px) {
    .slick-slider {
      max-width: 100%;
    }
  }

  